{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    {% block css %}{% endblock %}
    <title>rum {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="twelve columns">
          <a href="{% url home %}">
            <h1>rum</h1>
          </a>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="twelve columns">
      {% block menu %}{% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
      {% block content %}{% endblock %}
      </div>
    </div>
    <script src="{% static 'js/foundation.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/require-jquery.js' %}" type="text/javascript"></script>
    {% block js %}{% endblock %}
  </body>
</html>
