header {
    background-color: #CB2E2B;
    background-image: url('/static/img/donlan.png');
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    height: 60px;
}

header a, header a:hover, header a:active {
    color: #fff;
}

div#sign-in {
    padding-top: 20px;
    text-align: center;
}

a#menu-sign-out, a#menu-admin {
    float: right;
    margin-left: 3px;
}
